@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: cursive;
}

header {
    height: 20vh;
    background-color: rgb(115, 0, 0);
}

header > h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 7vh;
}

main {
    background-color: rgb(255, 255, 255);
    height: auto;
    min-width: 300px;
    min-height: ;
    width: auto;
}

div {
    background-color: rgb(171, 250, 35);
    width: 70px;
    height: 70px;
}

table {
    
    width: 96vw;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

td {
    padding: auto 20px;
    
    border: 1px solid black;

}

td.vazia {
    border: none;
}

footer {
    width: 100vw;
    padding: 5px;
    background-color: rgb(115, 0, 0);
    color: white;
    text-align: center;
    margin-top: 560px;
}
